body {
        background-image: url(unnamed.png);
        margin:0;
        font-family: Geneva, Arial, Helvetica, sans-serif;
		width: 100%;
        
    }
a{
	color:red;
	text-decoration: none;
	font-weight: bold;
}
.LinksMenu{
	font-style: normal;
	padding: 5px;
   		text-align: center;
}
section {
background-image: url(209.jpg);
   margin: 10px 0;
   border: ridge 6px orange;
   border-radius: 2em;
   padding: 10px;
  
}
table {
	text-align: center;
    width: 100%; /* Ширина таблицы */
    border: 5px groove #ccc; /* Рамка вокруг таблицы */
    margin:0px auto;
    border-spacing: 0px;
    table-layout: fixed;
   }
   #table{
   	order:1;
   }
  #main {
  	text-align: left;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  list-style-position: inside;
  border-radius: 2em;
    }
    #menu{
    	border-radius: 2em;
    	text-align: center;
    	max-width:1120px;
    	background-image: url(209.jpg);
    	margin: 10px auto;
        padding: 10px;
    	list-style-position: inside;
    	border:ridge 6px orange;
    }

		
		h1 {min-width:960px;
    	height: 50px;
      padding-left: 10px;
    	text-align: left;
    background:#252525; /* Цвет фона блока */ 
    margin: 0; /* Нулевые отступы вокруг текста */ 
    padding: 10px; /* Поля вокруг текста */ 
}
    #logo{
    	
        width: 70px; 
		height: 70px; 
		float: left;
	}
	#siteHeader {
	background:#252525;	
	min-width:960px;

		/*background-image: url(unnamed.png);*/
		text-align: left;
		color: white;
		height: 90px;
		padding-top:20px;
		padding-bottom: 20px;
	}

	#insideHeader{
		max-width: 960px;
		margin: auto;
	}
	#footer_site {
    	
		padding-bottom: 20px;
		padding-top:20px;
		background-color: black;
		text-align: center;
		color: #fdfdff;
		font-size: 150%;
		min-width:960px;
	}
	

  
   th {
    background: #4b0082; /* Цвет фона (#4b0082-фиолетовый)*/
    color: #fffff0; /* Цвет текста */
    border: 2px solid #ccc;
   }

   td {
   	border: 2px solid #ccc;
    padding: 1px; /* Поля вокруг содержимого ячеек */
   }

   th, td {
		padding: 10px;
	}

   tr:nth-child(odd) {
		background: #ffa450;
	}

	tr:nth-child(even) {
		background: #008080;
	}
